body {
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    margin: 0%;
    padding: 0%;
  }

header{
    display: block;
    background-image: url('../img/Seoul.jpg');
    background-color: rgb(95, 124, 255);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
  }

.dropdown{
  margin-top: 10px;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  width: 35%;
  position: relative;
  display: inline-block;
}

.dropdown-child_root {
  display: none;
}


.dropdown-child_notebooks {
  display: none;
}

.dropdown-child_yt {
  display: none;
}

.dropdown-child_dashboard {
  display: none;
}

.dropdown-child_django {
  display: none;
}

  header nav{
    float:right;
    display: block;
    position:relative;
    bottom: 1px;
    width:80%;
    height:10%;
  }
  
  header nav a{
    display: block;
    margin: 0.5%;
    text-decoration: none;
    color: white;
    opacity: 0.7;
    font-size: 100%;
    float: right;
  }

  
  header nav button{
    display: block;
    margin: 0.5%;
    float: right;
    opacity: 0.6;
    border-radius: 8px;
  }

  header nav a:visited{
    margin: 0.5%;
    text-decoration: none;
    color: white;
    opacity: 0.7;
  }
  
  header nav a:hover{
    opacity: 1;
  }

  button{
    font-size: 1.3em;
    background-color: white;
    
    
    border-style: none;
    margin: 10px;
  }

  #profile {
    border-radius:50% 50% 50% 50%;  
    width:30%;
    height:30%;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    position: relative;
    bottom: -8vw;
    left: 3vw;
    z-index: 10;
  }

h1 {
  color: rgb(95, 124, 255);
  font-family: Arial;
  font-size: 2em;
  }

tr{
  background-color: rgb(245,245,245);
  }

tr:hover{
  background-color: rgb(230,230,230); 
  }

th{
  background-color: rgb(169,169,169);
  color: rgb(255, 255, 255);
  font-size: 2.8vw;
  font-weight: bold;
  }

td{
  font-size: 0.7em;
  } 

td a{
  text-decoration: none;
  color: rgb(0,0,0);
  }

td a:visited{
  text-decoration: none;
  color: rgb(0,0,0);
  }

td:nth-child(n+3){
  text-align: center;
  }

td:hover:nth-child(n+3){
  font-size: 0.8em;
  }

ul{
  font-size: 1em;
  }

p{
  font-size: 1em;
  }

.esp{
  display: none;
  }


.mainmenubtn{
  display: block;
  opacity: 1;
  border-radius: 8px;
}

.main_nav{
  display:inline-block;
  position: absolute;
  background-image: linear-gradient(to right,rgb(95, 124, 255) ,rgb(255, 255, 255));
  width: 100%;
  height: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  }
      
.main_nav a{
  display: inline-block;
  text-align: center;
  margin: 5%;
  background-color: white;
  text-decoration: none;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 90%;
  font-size: 0.8em;
  opacity: 1;
  } 
    
.main_nav .active{
  opacity: 1;
  }

  .sub_menubtn{
    margin: 5%;
    padding-top: 10%;
    padding-bottom: 10%;
    opacity: 1;
    width: 95%;
  }

.cert_div{
  margin-top: 1%;
  margin-bottom: 1%;
  overflow-x: scroll;
  white-space: nowrap;
  height:260px;
  position: relative;
}
.wrapper{
  position: absolute;
  bottom: 0px;
}
.wrapper img{
  display:inline-block;
  transition: border 0.5s;
  width: 250px;
  height: 210px;
}

.wrapper img:hover{
  padding-bottom: 30px;
}
section{
  margin-top: 15%;
  display:inline-block;
  position: static;
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 90%;
  padding: 1%;
  }

  @media (min-width: 650px) {
    #profile {
      border-radius:50% 50% 50% 50%;  
      width:18%;
      height:18%;
      border-style: solid;
      border-width: 4px;
      border-color: white;
      position: relative;
      bottom: -8vw;
      left: 3vw;
      z-index: 10;
    }
    .dropdown{
      background-color: transparent;
      width: 100%;
    }
  
      .main_nav{
        display:inline-block;
        position: absolute;
        background-image: linear-gradient(to right, rgb(95, 124, 255) ,rgb(255, 255, 255));
        width: 15%;
        height: 100vh;
        vertical-align: top;
        padding: 1%;
        padding-top: 10%;
        
      }
        
      .main_nav a{
        display: inline-block;
        text-align: center;
        margin: 5%;
        background-color: white;
        text-decoration: none;
        padding-top: 5%;
        padding-bottom: 5%;
        width: 90%;
        font-size: 0.9em;
        opacity: 0.7;
      } 
      
    

      section{
        display:inline-block;
        position: static;
        background-color: rgb(255, 255, 255);
        width: 78%;
        height:120vh;
        overflow-y: scroll;
        padding: 0%;
        float: right;
        margin-top: 0%;
        
      }
  
      h1 {
        color: rgb(95, 124, 255);
        font-family: Arial;
        font-size: 2.2em;
        }
  
      th{
        background-color: rgb(169,169,169);
        color: rgb(255, 255, 255);
        font-size: 1.3em;
        font-weight: bold;
        }
      td{
        font-size: 1.2em;
        } 
  
      td:hover:nth-child(n+3){
        font-size: 1.3em;
        }
      ul{
          font-size: 1.3em;
          }
      p{
        font-size: 1.3em;
        }
    }